{% extends 'baseBack.html.twig' %}

{% block body %}
    {% for message in app.flashes("success") %}

        <div class="alert alert-success col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}
    {% for message in app.flashes("error") %}

        <div class="alert alert-danger col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}

    <div class="container bg-secondary text-center fs-3 mb-4">Gestion des commandes</div>
    {% for commande in commandes %}

        <h4 class="mb-4">Commande N°{{ commande.id }}, du {{ commande.date | date('d/m/Y') }}
            à {{ commande.date | date('h:i') }}</h4>
        <div class="container-table col-10 mx-auto">
            <table class="table">
                <thead>
                <tr class="bg-primary text-light">
                    <th scope="col">Article</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Prix total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in commande.achats %}
                    <tr>
                        <td><img height="40" width="40" src="{{ asset('upload/') }}{{ item.article.photo }}" alt="">&nbsp;{{ item.article.nom }}
                        </td>
                        <td>{{ item.quantite }}</td>
                        <td>{{ item.article.prix }}€</td>
                        <td>{{ item.article.prix * item.quantite }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-10 mt-4 mx-auto d-flex justify-content-between">
            <div class="col-md-8 mt-2">
                <h4>Total de la commande : {{ commande.montantTotal }} €</h4>

                {% if commande.statut == 0 %}

                    <a href="{{ path('statut', {id:commande.id, param: 1}) }}" class="btn btn-primary">Prendre en
                        charge</a>

                {% elseif commande.statut == 1 %}

                    <a href="{{ path('statut', {id:commande.id, param: 2}) }}" class="btn btn-info">Marquer comme
                        "Expédié"</a>

                {% elseif commande.statut == 2 %}

                    <a href="{{ path('statut', {id:commande.id, param: 3}) }}" class="btn btn-info">Marquer comme
                        "Livré"</a>

                {% else %}
                    <div class="bg-success text-light col-4 d-flex align-items-center" style="height: 50px;">
                        <div class="mx-auto">Commande terminée</div>
                    </div>

                {% endif %}
            </div>
        </div>
        <div class="separator col-6 mx-auto bg-primary my-5" style="height: 1px"></div>

    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

