{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes("success") %}

        <div class="alert alert-success col-md-6 mx-auto">{{ message }}</div>

    {% endfor %}
    {% for message in app.flashes("danger") %}

        <div class="alert alert-danger col-md-6 mx-auto">{{ message }}</div>

    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <th>{{ categorie.id }}</th>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('modifCategorie', {'id':categorie.id}) }}" type="button" class="btn btn-primary btn-sm me-2">Modifier</a>
                    <a href="{{ path('deleteCategorie', {'id':categorie.id}) }}" type="button" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

    {% block title %}

    {% endblock %}

