{% extends 'baseBack.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {% for message in app.flashes("success") %}

        <div class="alert alert-success col-md-6 mx-auto">{{ message }}</div>

    {% endfor %}
    {% for message in app.flashes("danger") %}

        <div class="alert alert-danger col-md-6 mx-auto">{{ message }}</div>

    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th>{{ article.id }}</th>
                <td>{{ article.nom }}</td>
                <td>{{ article.prix }} €</td>
                <td><img height="40" width="40" src="{{ asset('upload/') }}{{ article.photo }}" alt=""></td>
                <td>{{ article.categorie.nom }}</td>
                <td>
                    <a href="{{ path('modifArticle', {'id':article.id}) }}" type="button" class="btn btn-primary btn-sm me-2">Modifier</a>
                    <a href="{{ path('deleteArticle', {'id':article.id}) }}" type="button" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

