{% extends 'baseBack.html.twig' %}

{% block TitrePage %}{{ parent() }}Modifier article{% endblock %}

{% block body %}
    {% for message in app.flashes("success") %}

        <div class="alert alert-success col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}
    {% for message in app.flashes("error") %}

        <div class="alert alert-danger col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}
    {# {{ form(form) }} GENERE L'INTEGRALITE DU FORMULAIRE#}
    <div class="col-md-8 mx-auto">
        {{ form_start(form) }}
        <label for="">Nom de l'article</label>
        {{ form_row(form.nom) }}

        <label for="">Prix de l'article</label>
        {{ form_row(form.prix) }}

        <label for="">Categorie de l'article</label>
        {{ form_row(form.categorie) }}

        {{ form_row(form.photoModif, { 'attr':{"onChange": "loadFile(event)"} }  ) }}

        <div class="justify-content-between row mx-auto">
            <div class="col-5 text-center border">

                <img style='width:300px' src="{{ asset('upload/') }}{{ article.photo }}">

            </div>
            <div class="arrow col-2 d-flex align-items-center justify-content-center">
                <i class="fas fa-arrow-right" style="font-size: 50px"></i>
            </div>

            <div class="col-5 text-center justify-content-center align-items-center border">

                <img id="image" style='width:300px'>

            </div>
        </div>

        {{ form_row(form.Valider) }}

        {{ form_end(form) }}
    </div>

    <script>

        var loadFile = function (event) {
            var image = document.getElementById('image');

            image.src = URL.createObjectURL(event.target.files[0]);
        };

    </script>

{% endblock %}

{% block title %}
    Ajouter un article
{% endblock %}